In [1]:
import pandas as pd

In [2]:
map_of_state = {'Boston': 'MA',
                'Chicago': 'IL',
                'Los Angeles': 'CA',
                'New York': 'NY',
                'Washington DC': 'DC',
                'San Francisco': 'CA',
                'SF': 'CA', 
                'Montreal': 'Quebec',
               'Seattle': 'WA' ,
                'Nashville': 'TN',
                'Denver': 'CO',
                'Atlanta': 'GA',
                'OC': 'CA',
                'San Fran': 'CA',
                'Houston': 'TX',
                'San Diego': 'CA',
                'Boulder':  'CO',
                'Dallas': 'TX',
                'Philadelphia': 'PA',
                'LA': 'CA',
                'Austin': 'TX',
                'South Florida': 'FL',
                'NYC': 'NY'}

map_of_country = {'CA': 'USA',
                  'IL': 'USA',
                  'MA': 'USA',
                  'NY': 'USA',
                  'DC': 'USA',
                  'WA': 'USA',
                  'TN': 'USA',
                  'CO': 'USA',
                  'GA': 'USA',
                  'TX': 'USA',
                  'PA': 'USA',
                  'FL': 'USA',
                  'Quebec': 'Canada'}

map_job_to_department = {'Photographer' : 'Photography', 'Operations': 'Operations', 'Sales': 'Sales', 'Real Estate':'Real Estate',
                        'Accounts Receivable Manager': 'Finance and Accounting' , 'Account Executive': 'Sales',
                        'Talent': 'People', 'Sourcing': 'Design and Supply Chain', 'Quality': 'Quality Assurance',
                         'Product Designer' : 'Design','Customer Success' : 'Customer Success','Director of People' : 'Human Resources',
                         'Human Resources' : 'Human Resources',
                         'Engineering' : 'Engineering','Engineer' : 'Engineering',
                         'Implementation' : 'Implementation', 'Designer': 'Designer', 'Marketing': 'Marketing',
                        'Consultant':'Sales', 'Recruiter': 'Recruiter', 'Product Manager': 'Product Manager'}

In [3]:
def mapping_incomplete_string(df: pd.DataFrame, 
                              dictionary_with_mapping: dict, 
                              column_to_map: str, 
                              column_to_be_mapped: str) -> pd.DataFrame:
    pat = r'({})'.format('|'.join(dictionary_with_mapping.keys()))
    extracted = df[column_to_map].str.extract(pat, expand=False).dropna()
    df[column_to_be_mapped] = extracted.apply(lambda x: dictionary_with_mapping[x]).reindex(df.index)
    return df

In [4]:
dataset_first_template = pd.read_excel('JOB_ICU.xlsx', sheet_name=0)
dataset_second_template = pd.read_excel('JOB_ICU.xlsx', sheet_name=2)
dataset_third_template = pd.read_excel('JOB_ICU.xlsx', sheet_name=4)
dataset_fourth_template = pd.read_excel('JOB_ICU.xlsx', sheet_name=6)

In [5]:
dataset_first_template.dropna(subset=['List'], inplace=True)

In [6]:
dataset_first_template['First Name'], dataset_first_template['rest'] = dataset_first_template['List'].str.split(' ', 1).str
dataset_first_template['Last Name'], dataset_first_template['Job Title'] = dataset_first_template['rest'].str.split(' ', 1).str
dataset_first_template['Job'], dataset_first_template['Location'] = dataset_first_template['Job Title'].str.split('(', 1).str

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
dataset_first_template['Location'] = dataset_first_template['Location'].str.strip(')')

In [8]:
dataset_first_template['State'] = dataset_first_template['Location'].map(map_of_state)
dataset_first_template['Country'] = dataset_first_template['State'].map(map_of_country)
dataset_first_template['Department'] = dataset_first_template['Job Title'].map(map_job_to_department)

In [9]:
dataset_first_template = dataset_first_template[['First Name', 'Last Name', 'Job', 'Location', 'State', 'Country', 'Linkedin']]

In [10]:
dataset_second_template['State'] = dataset_second_template['Location'].map(map_of_state)
dataset_second_template['Country'] = dataset_second_template['State'].map(map_of_country)

In [11]:
dataset_third_template['Location'], dataset_third_template['State'] = dataset_third_template['Current Location / City'].str.split(' ', 1).str

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [12]:
dataset_third_template['First Name'], dataset_third_template['Last Name'] = dataset_third_template['Name'].str.split(' ', 1).str

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [13]:
dataset_third_template['Location']  = dataset_third_template['Location'].str.strip(',')
dataset_third_template['Country'] = dataset_third_template['State'].map(map_of_country)

In [14]:
dataset_fourth_template['First Name'], dataset_fourth_template['Last Name'] = dataset_fourth_template['Name'].str.split(' ', 1).str

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [15]:
dataset_fourth_template = mapping_incomplete_string(df=dataset_fourth_template, 
                                                    dictionary_with_mapping=map_of_state, 
                                                    column_to_map='Location',
                                                    column_to_be_mapped='State')

In [16]:
dataset_fourth_template = mapping_incomplete_string(df=dataset_fourth_template, 
                                                    dictionary_with_mapping=map_of_country, 
                                                    column_to_map='State',
                                                    column_to_be_mapped='Country')

# Join dataframe

In [17]:
dataset_first_template['Department'] = ''
dataset_first_template.rename(columns={'Job': 'Job Title', 'Linkedin': 'LinkedIn URL'}, inplace=True)
dataset_first_template['Email'] = ''

In [18]:
dataset_second_template.rename(columns={'Linkedin': 'LinkedIn URL'}, inplace=True)
dataset_second_template['Email'] = ''
dataset_second_template = dataset_second_template[['First Name', 'Last Name', 'Job Title', 'Department', 'Location', 'State', 'Country', 'LinkedIn URL', 'Email']]

In [19]:
dataset_third_template.rename(columns={'Personal Email Address':'Email', 'Role / Title at CarGurus': 'Job Title','Department / Business Unit at CG':'Department', 'LinkedIn Profile URL': 'LinkedIn URL'}, inplace=True)
dataset_third_template = dataset_third_template[['First Name', 'Last Name', 'Job Title', 'Department', 'Location', 'State', 'Country', 'LinkedIn URL', 'Email']]

In [20]:
dataset_fourth_template.rename(columns={'Area(s) of Interest': 'Job Title'}, inplace=True)
dataset_fourth_template['Department'] = dataset_fourth_template['Job Title'].map(map_job_to_department)
dataset_fourth_template = dataset_fourth_template[['First Name', 'Last Name', 'Job Title', 'Department', 'Location', 'State', 'Country', 'LinkedIn URL', 'Email']]

In [21]:
dataset_first_template.head(2)

,First Name,Last Name,Job Title,Location,State,Country,LinkedIn URL,Department,Email
0,Peter,Yep,QA Engineer,SF,CA,USA,https://www.linkedin.com/in/peter-yep-38072aa3/,,
1,David,Randolph,Scrum Master,SF,CA,USA,https://www.linkedin.com/in/david-g-randolph/,,

In [22]:
dataset_second_template.head(2)

,First Name,Last Name,Job Title,Department,Location,State,Country,LinkedIn URL,Email
0,Corey,Sherman,Photographer,Photography,Boston,MA,USA,https://www.linkedin.com/in/coreyjsherman/,
1,Christopher,Noris,Operations Associate,Operations,Boston,MA,USA,NaN,

In [23]:
dataset_third_template.head(2)

,First Name,Last Name,Job Title,Department,Location,State,Country,LinkedIn URL,Email
0,Melissa,Skerry,Senior Customer Success Specialist,Customer Success,Boston,MA,USA,NaN,Mskerry5@gmail.com
1,Deanna,Craveiro,Customer Support Team Lead,Customer Success,Beverly,MA,USA,http://linkedin.com/in/deannacraveiro,dcataldo02@gmail.com

In [24]:
dataset_fourth_template.head(2)

,First Name,Last Name,Job Title,Department,Location,State,Country,LinkedIn URL,Email
0,Anthony,Escamilla,Recruiter,Recruiter,"Seattle,NYC,San Fran",WA,USA,https://www.linkedin.com/in/anthonyxescamilla/,axescamilla@gmail.com
1,Axel,Reed,"DevOps,Product Manager,Operations,Operations M...",NaN,Nashville,TN,USA,https://www.linkedin.com/in/axelreed/,axelreed3@gmail.com

In [25]:
unite_df = [dataset_first_template, dataset_second_template, dataset_third_template, dataset_fourth_template]

In [26]:
final_dataframe = pd.concat(unite_df)

In [27]:
final_dataframe

,First Name,Last Name,Job Title,Location,State,Country,LinkedIn URL,Department,Email
0,Peter,Yep,QA Engineer,SF,CA,USA,https://www.linkedin.com/in/peter-yep-38072aa3/,,
1,David,Randolph,Scrum Master,SF,CA,USA,https://www.linkedin.com/in/david-g-randolph/,,
2,Mihail,Selitrin,QA Engineer,SF,CA,USA,https://www.linkedin.com/in/mihailselitrin/,,
3,Greg,McTaggart,Android Engineer,SF,CA,USA,https://www.linkedin.com/in/greg-mctaggart-a32...,,
4,Gary,O.,IOS Engineer,SF,CA,USA,https://www.linkedin.com/in/garyolivera/,,
...,...,...,...,...,...,...,...,...,...
39,Megan,Nichols,"Marketing,Account Manager,Marketing Manager,Ac...",LA,CA,USA,https://www.linkedin.com/in/mhnchols/,NaN,nichols.meganh@gmail.com
40,Sara,Luebke,"Designer,Visual Designer",San Fran,CA,USA,www.linkedin.com/in/sara-luebke,NaN,saraeluebke@gmail.com
41,Holly,Fischer,Project Manager,San Fran,CA,USA,linkedin.com/in/holly-fischer-23a405b0,NaN,hollyfischer3@gmail.com
42,Dani,Ptasznik,"Sales Development Representative,Sales,Custome...","NYC,San Fran",NY,USA,https://www.linkedin.com/in/dani-ptasznik-2106...,NaN,daniptasznik@gmail.com
43,Alyssa,Morris,"Sales Manager,Sales,Creative Director,Project ...",NYC,NY,USA,https://www.linkedin.com/in/alyssa-morris-9334...,NaN,alyssasmorris@gmail.com

In [28]:
final_dataframe.to_excel('first_draft_overall_dataframe_11May2020.xlsx')